* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: content-box;
	line-height: 100%;
	scrollbar-width: none;
}
:root {
	font-size: 16px;
	font-family: system-ui, sans-serif;
	background-color: #333;
	color: orange;
	--transition-time: 0.1s;
	--padding: 100px;
	--padding-half: calc(var(--padding) / 2);
	--padding-quarter: calc(var(--padding) / 4);
}
::-webkit-scrollbar {
	height: 0;
	width: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	background-color: orange;
	color: #333;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 1.5rem;
	color: rgb(255, 218, 128);
}
object {
	height: 100%;
	width: 100%;
	pointer-events: none;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input, select {
	border: none;
	width: 100%;
	height: 3em;
	line-height: 3em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #222;
	color: orange;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}
input[type="button"],
input[type="submit"] {
	width: 10rem;
	border: dashed 1px orange;
	border-radius: 1em;
}
/* */
html, body {
	height: 100%;
}
body {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body>* {
	transition: opacity calc(var(--transition-time) * 5), transform calc(var(--transition-time) * 5);
	transform: translateY(0);
	position: relative;
}
body.off>* {
	opacity: 0;
	transform: translateY(-10rem);
}
body>header {
	padding-top: var(--padding);
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	position: relative;
	z-index: 100;
}
body>header:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 0;
	width: 0;
	content: "";
	border-left: solid 50vw transparent;
	border-right: solid 50vw transparent;
	border-top: solid var(--padding) #333;
}
body>header>object {
	margin-bottom: var(--padding-half);
	height: 14rem;
	flex-grow: 1;
	flex-shrink: 0;
	filter: drop-shadow(0 2px 2px black);
}
body>header>nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
body>header>nav>a {
	padding: var(--padding-quarter);
}
/* */
body>main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* */
body>main#about {
	z-index: 55;
	background-color: #222;
}
body>main#about:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 0;
	width: 0;
	content: "";
	border-bottom: solid var(--padding-half) transparent;
	border-left: solid 50vw transparent;
	border-right: solid 50vw #222;
	border-top: solid var(--padding-half) #222;
}
body>main#about>div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.25;
}
body>main#about>h1 {
	margin-top: var(--padding);
	padding-top: var(--padding);
}
body>main#about>h2 {
	margin: var(--padding);
}
body>main#about>main {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: nowrap;
	margin-bottom: var(--padding);
}
body>main#about>main>section {
	font-size: 0.9rem;
	width: 25%;
	color: rgb(255, 218, 128);
	margin-left: 2rem;
	margin-right: 2rem;
}
body>main#about>main>section>p {
	line-height: 150%;
	margin-bottom: 1em;
}
/* */
body>main#portfolio {
	height: 80vh;
	z-index: 50;
}
body>main#portfolio>h1 {
	position: absolute;
	top: calc((100% - 1rem - 1.5rem - var(--padding) * 2 - 4rem) / 2);
	left: 0;
	right: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
body>main#portfolio>main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	overflow-x: scroll;
}
body>main#portfolio>main>section {
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body>main#portfolio>main>section>* {
	z-index: 2;
	color: rgb(255, 218, 128);
}
body>main#portfolio>main>section>h1 {
	color: transparent;
}
body>main#portfolio>main>section>h2 {
	margin: var(--padding);
}
body>main#portfolio>main>section:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1;
}
body>main#portfolio>nav {
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: calc(0px - var(--padding-half));
	height: var(--padding-half);
	width: var(--padding-half);
	background-color: rgba(0, 0, 0, 0.75);
	padding: var(--padding-quarter);
}
body>main#portfolio>nav.left {
	left: 0;
}
body>main#portfolio>nav.right {
	right: 0;
}
/* */
body>main#contact {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	z-index: 60;
}
body>main#contact:before {
	z-index: 4;
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	height: 0;
	width: 0;
	content: "";
	border-top: solid var(--padding-half) transparent;
	border-left: solid 50vw transparent;
	border-right: solid 50vw #333;
	border-bottom: solid var(--padding-half) #333;
}
body>main#contact>form {
	margin-top: var(--padding-half);
	width: 30%;
}
body>main#contact>form>* {
	margin-top: var(--padding-quarter);
}
body>main#contact>form>input[type="submit"] {
	margin-top: var(--padding-half);
	transition: all var(--transition-time);
}
body>main#contact>form>input[type="submit"]:hover {
	background-color: orange;
	color: #333;
	border: solid 1px orange;
}
/* */
body>footer {
	height: 20vh;
	z-index: 60;
	background-color: #222;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
body>footer>object {
	height: 6rem;
	width: auto;
}
/* */
.clickable {
	transition: transform var(--transition-time);
	cursor: pointer;
}
.clickable:hover {
	transform: translateY(-0.25rem);
	cursor: pointer;
}
.clickable:active {
	transform: translateY(0.25rem);
}